<div class="container-fluid">
    <div class="header container">
        <div class="row">
            <div class="col-md-6">
                Prochaines sorties
            </div>
        </div>

    </div>
    
    <div class="content container">
        Mois - 1 : {{month1}}<br/>
        <br/>
        Mois 0 : {{month2}}<br/>
        <br/>
        Mois + 1 : {{month3}}
        <!-- <div class="row serie_content">
            <div class="serie_pic col-md-4" ng-repeat="episode in episodes">
                <div class="row">
                    <div class="col-md-12">
                        Mois
                    </div>
                    <div class="col-md-12 release_month">
                        <div class="row">
                                <div class="col-md-12 passed">
                                    {{episode.air_date}} - Name -  SNumberE{{episode.episode_number}} 
                                </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div> -->
    </div>
</div>