        <div  ng-controller="searchCtrl" class="content container">
            <div class="row research_content darkened">
            <div ng-hide="empty">
                <div class="returned_serie col-md-6">
                    <div class="row">
                        <div class="col-md-4 serie_search_pic">
                            <!-- <img src="../resources/images/Mi3x5.jpg"> -->
                        </div>
                        <div>
                            {{series}}
                        </div>


                        <div class="col-md-4 serie_info_search">
                            <div class="row serie_search_title">
                                <a href="serie.html">Dexter</a>
                            </div>
                            <div class="row serie_search_tags">
                                Drame, Violent, Thriller
                            </div>
                            <div class="row serie_search_grade">
                                Note : 
                                <div class="stars search_stars">
                                        <div class="empty_stars search_stars">
                                            <!-- <img src='../resources/images/empty_stars.png' >  -->
                                        </div>
                                        <div class="filled_stars search_stars">
                                            <!-- <img src='../resources/images/filled_stars.png' >  -->
                                        </div>
                                </div>
                                4.5/5
                            </div>
                            
                            <div class="row serie_search_description">
                                Une série où il y a du sang
                            </div>
                        </div>
                    </div>    
                </div> 
            </div>
            <div ng-show="empty">
                Test : {{message}}
            </div>
             </div>
        </div>