<div class="container-fluid">
    <div class="header container">
        <div class="row">
            <div class="col-md-6">
                <h2>Se connecter</h2>
            </div>
        </div>
    </div>
    <div class="content container">
        <form>
            <div class="row pseudo-input">
                <div class="col-md-4 col-md-offset-4">
                    <label>Nom</label><input type="name" value="Maxime" ng-model="name" id="name">
                    <label>Email</label><input type="email" value="maxime@gmail.com" ng-model="email" id="email">
                </div>
            </div>
            <div class="row login">
                <div class="col-md-4 col-md-offset-4">
                <br/>
                    <input type="submit" ng-click="postUser(email, name)" value="Login" class="btn btn-block btn-default" />
                    <br/>
                </div>
            </div>
        </form>
        
        </div>
        <span> {{answer}} </span>
    </div>
</div>