# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
API/node_modules
Front/node_modules
Front/scripts
Front/bower_components
Front/phones
Front/.jshintrc
Front/.travis.yml
Front/README.md
Front/LICENSE
angular-phonecat/node_modules
angular-phonecat/scripts
angular-phonecat/test
angular-phonecat/app/bower_components
angular-phonecat/app/phones
angular-phonecat/.jshintrc
angular-phonecat/.travis.yml
angular-phonecat/README.md
angular-phonecat/LICENSE
API/sublime.sublime-project
API/sublime.sublime-workspace
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#PyCharm
.idea/*
