<div class="container-fluid">
    <div class="header container">
            <div class="row">
                <div class="col-md-6">
                    <h2> Séries suivies </h2>
                </div>
                <div class="col-md-2 col-md-offset-2">
                    <a href="index.html"><button class="btn btn-default">Tableau de bord</button></a>
                </div>
                <div class="Account col-md-2">
                    <img class="AvatarIcon" src="../app/images/Mi3x5.jpg"><a href="account.html"><button class="btn btn-default">Mon compte</button></a>
                </div>
            </div>

        </div>
        
        <div class="content container">
            <div class="row research_content">

                <div class="returned_serie col-md-6" ng-repeat="serie in followed_series">
                        <!-- 
                        Filtrer sur le serie.status pour la couleur
                        serie.status -->
                        <div class="row">
                            <div class="col-md-4 serie_search_pic" ng-show="serie.poster_path == null">
                                <img src="../app/images/Mi3x5.jpg">
                            </div>
                            <div class="col-md-4 serie_search_pic" ng-show="serie.poster_path != null">
                                <img ng-src="http://image.tmdb.org/t/p/w500/{{serie.poster_path}}">
                            </div>
                            
                            <div class="col-md-4 serie_info_followed">
                                <div class="row serie_followed_title">
                                    <a href="serie.html">{{serie.name}}</a>
                                </div>
                                <div class="row serie_followed_tags" ng-repeat="genre in serie.genres">
                                    {{genre.name}}
                                </div>
                                <div class="row serie_followed_status">
                                    {{etats_series[serie.id]}} : S{{maxseasons[serie.id]}}E{{nextepisodes[serie.id]}}
                                </div>
                                
                                <div class="row serie_followed_description">
                                    {{serie.overview.substring(0,200)}}...
                                </div>
                            </div>
                        </div>
                   
                </div>           
                
            </div>

        </div>
</div>