<div class="container-fluid">
        
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
                <h2> Séries suivies </h2>
            </div>
        </div>
        <div class="row research_content">
            <div class="returned_serie col-md-12" ng-repeat="serie_pair in followed_series_pairs">
                <div class="row">
                    <div class="returned_serie col-md-6" ng-repeat="serie in serie_pair">
                        <!-- 
                        Filtrer sur le serie.status pour la couleur
                        serie.status -->
                        <div class="row">
                            <div class="col-md-4 serie_search_pic" ng-show="serie.poster_path == null">
                                <img src="../app/images/Mi3x5.jpg">
                            </div>
                            <div class="col-md-4 serie_search_pic" ng-show="serie.poster_path != null">
                                <img ng-src="http://image.tmdb.org/t/p/w500/{{serie.poster_path}}">
                            </div>
                            
                            <div class="col-md-8 serie_info_followed">
                                <div class="row serie_followed_title">
                                    <a href="serie.html">{{serie.name}}</a>
                                </div>
                                <div class="row serie_followed_tags" ng-repeat="genre in serie.genres">
                                    {{genre.name}}
                                </div>
                                <div class="row serie_followed_status">
                                    {{etats_series[serie.id]}} : S{{maxseasons[serie.id]}}E{{nextepisodes[serie.id]}}
                                </div>
                                
                                <div class="row serie_followed_description">
                                    {{serie.overview.substring(0,200)}}...
                                </div>
                            </div>
                        </div>
                    </div>           
                </div>
            </div>
        </div>
    </div>
</div>