<div class="container-fluid">
	<div class="header container">
        <div class="row">
            <div class="col-md-6">
                Title
            </div>
            <div class="Account col-md-2">
                <img class="AvatarIcon" src="img/Mi3x5.jpg"><a href="account.html"><button class="btn btn-default">Mon compte</button></a>
            </div>
            <div class="col-md-2">
                <a href="guide.html"><button class="btn btn-primary">Guide des séries</button></a>
            </div>
            <div class="col-md-2">
                <input type="text" onchange="search_serie()" placeholder="Recherche">
            </div>
            
        </div>

    </div>
</div>