<div class="container-fluid">
  <div class="header container">
    <div class="row">
        <div class="col-md-6">
            Fiche Série
        </div>
        <div class="col-md-2 col-md-offset-2">
            <a href="index.html"><button class="btn btn-default">Tableau de bord</button></a>

        </div>
        <div class="Account col-md-2">
            <img class="AvatarIcon" src="img/Mi3x5.jpg"><a href="account.html"><button class="btn btn-default">Mon compte</button></a>
        </div>
    </div>
  </div>
        
  <div class="content container">
      <div class="row serie_name">
          <div class="col-md-12">
              {{serie.name}}
          </div>
      </div>
      <div class="row serie_content">
          <div class="serie_pic col-md-4">
              <img ng-src="http://image.tmdb.org/t/p/w500/{{serie.poster_path}}">
          </div>


          <div class="serie_info col-md-4">
              <div class="row">
                  <div class="col-md-12 serie_description">
                      <p>{{serie.overview.substring(0,200)}}...</p>
                  </div>


                  <div class="untracked">
                      <div class="col-md-12 serie_grade">
                          <p>{{serie.vote_average}}/10 avec {{serie.vote_count}} votes</p>
                      </div>
                      <div class="col-md-12 serie_status">
                           <p>{{serieStatus}} - {{season.season_number}} saisons</p>
                      </div>
                      <div class="col-md-12">
                          <button class="btn btn-default">Ajouter à mes séries</button>
                      </div>
                      <div class="col-md-12">
                          <button class="btn btn-primary">Lancer la recomandation</button>
                      </div>
                  </div>

                  <div class="tracked">
                      <div class="col-md-12">
                          <a href="calendar.html">Calendar</a>
                      </div>
                      
                      <div class="col-md-12 next_releases">
                          <div class="row">
                              <div class="col-md-12" ng-repeat="episode in season.episodes.slice(0,5)">
                                  <h4>S{{season.season_number}}E{{episode.episode_number}} - {{episode.air_date}}</h4>
                                 <!-- DIFFERENCE  -->
                                  {{currentdate}}
                              </div>  
                              
                          </div>
                      </div>
                  
                  
                  </div>
              </div>
          </div>
          <!-- ATTENTION NEXT/PREVIOUS SUR LE SEASON NUMBER-->
          <div class="serie_eps col-md-4">
              Saison {{season.season_number}}
              <div class="row" ng-repeat="episode in season.episodes">
                  <h4>Episode {{episode.episode_number}}</h4>
                  {{episode.name}}
              </div>
          </div>
      </div>
  </div>
</div>
        