<div class="container-fluid">
 <!--    <p>Info User :
    {{user}}</p>

    <p>JSON des séries :
    {{followed_series}}</p> -->
    <div class="header container">
            <div class="row">
                <div class="col-md-6">
                    Séries suivies
                </div>
                <div class="col-md-2 col-md-offset-2">
                    <a href="index.html"><button class="btn btn-default">Tableau de bord</button></a>
                </div>
                <div class="Account col-md-2">
                    <img class="AvatarIcon" src="../app/img/Mi3x5.jpg"><a href="account.html"><button class="btn btn-default">Mon compte</button></a>
                </div>
            </div>

        </div>
        
        <div class="content container">
            <div class="row research_content">

                <div class="returned_serie col-md-6" ng-repeat="serie in followed_series">
                    <div class="row">
                        <div class="col-md-4 serie_search_pic">
                            <img src="../app/images/Mi3x5.jpg">
                        </div>
                        
                        <div class="col-md-4 serie_info_followed">
                            <div class="row serie_followed_title">
                                <a href="serie.html">{{serie.name}}</a>
                            </div>
                            <div class="row serie_followed_tags" ng-repeat="genre in serie.genres">
                                {{genre.name}}
                            </div>
                            <div class="row serie_followed_status">
                                En cours : S03E02
                            </div>
                            
                            <div class="row serie_followed_description">
                                Une série où il y a du sang
                            </div>
                        </div>
                    </div>
                </div> 
                
                <!-- <div class="returned_serie col-md-6">
                    <div class="row">
                        <div class="col-md-4 serie_search_pic">
                            <img src="../app/img/Mi3x5.jpg">
                        </div>
                        
                        <div class="col-md-4 serie_info_followed">
                            <div class="row serie_followed_title">
                                <a href="serie.html">Dexter</a>
                            </div>
                            <div class="row serie_followed_tags">
                                Drame, Violent, Thriller
                            </div>
                            <div class="row serie_followed_status">
                                En cours : S03E02
                            </div>
                            
                            <div class="row serie_followed_description">
                                Une série où il y a du sang
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="returned_serie col-md-6">
                    <div class="row">
                        <div class="col-md-4 serie_search_pic">
                            <img src="../app/img/Mi3x5.jpg">
                        </div>
                        
                        <div class="col-md-4 serie_info_followed">
                            <div class="row serie_followed_title">
                                <a href="serie.html">Dexter</a>
                            </div>
                            <div class="row serie_followed_tags">
                                Drame, Violent, Thriller
                            </div>
                            <div class="row serie_followed_status">
                                En cours : S03E02
                            </div>
                            
                            <div class="row serie_followed_description">
                                Une série où il y a du sang
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="returned_serie col-md-6">
                    <div class="row">
                        <div class="col-md-4 serie_search_pic">
                            <img src="../app/img/Mi3x5.jpg">
                        </div>
                        
                        <div class="col-md-4 serie_info_followed">
                            <div class="row serie_followed_title">
                                <a href="serie.html">Dexter</a>
                            </div>
                            <div class="row serie_followed_tags">
                                Drame, Violent, Thriller
                            </div>
                            <div class="row serie_followed_status">
                                En cours : S03E02
                            </div>
                            
                            <div class="row serie_followed_description">
                                Une série où il y a du sang
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="returned_serie col-md-6">
                    <div class="row">
                        <div class="col-md-4 serie_search_pic">
                            <img src="../app/img/Mi3x5.jpg">
                        </div>
                        
                        <div class="col-md-4 serie_info_followed">
                            <div class="row serie_followed_title">
                                <a href="serie.html">Dexter</a>
                            </div>
                            <div class="row serie_followed_tags">
                                Drame, Violent, Thriller
                            </div>
                            <div class="row serie_followed_status">
                                En cours : S03E02
                            </div>
                            
                            <div class="row serie_followed_description">
                                Une série où il y a du sang
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="returned_serie col-md-6">
                    <div class="row">
                        <div class="col-md-4 serie_search_pic">
                            <img src="../app/img/Mi3x5.jpg">
                        </div>
                        
                        <div class="col-md-4 serie_info_followed">
                            <div class="row serie_followed_title">
                                <a href="serie.html">Dexter</a>
                            </div>
                            <div class="row serie_followed_tags">
                                Drame, Violent, Thriller
                            </div>
                            <div class="row serie_followed_status">
                                En cours : S03E02
                            </div>
                            
                            <div class="row serie_followed_description">
                                Une série où il y a du sang
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="returned_serie col-md-6">
                    <div class="row">
                        <div class="col-md-4 serie_search_pic">
                            <img src="../app/img/Mi3x5.jpg">
                        </div>
                        
                        <div class="col-md-4 serie_info_followed">
                            <div class="row serie_followed_title">
                                <a href="serie.html">Dexter</a>
                            </div>
                            <div class="row serie_followed_tags">
                                Drame, Violent, Thriller
                            </div>
                            <div class="row serie_followed_status">
                                En cours : S03E02
                            </div>
                            
                            <div class="row serie_followed_description">
                                Une série où il y a du sang
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="returned_serie col-md-6">
                    <div class="row">
                        <div class="col-md-4 serie_search_pic">
                            <img src="../app/img/Mi3x5.jpg">
                        </div>
                        
                        <div class="col-md-4 serie_info_followed">
                            <div class="row serie_followed_title">
                                <a href="serie.html">Dexter</a>
                            </div>
                            <div class="row serie_followed_tags">
                                Drame, Violent, Thriller
                            </div>
                            <div class="row serie_followed_status">
                                En cours : S03E02
                            </div>
                            
                            <div class="row serie_followed_description">
                                Une série où il y a du sang
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="returned_serie col-md-6">
                    <div class="row">
                        <div class="col-md-4 serie_search_pic">
                            <img src="../app/img/Mi3x5.jpg">
                        </div>
                        
                        <div class="col-md-4 serie_info_followed">
                            <div class="row serie_followed_title">
                                <a href="serie.html">Dexter</a>
                            </div>
                            <div class="row serie_followed_tags">
                                Drame, Violent, Thriller
                            </div>
                            <div class="row serie_followed_status">
                                En cours : S03E02
                            </div>
                            
                            <div class="row serie_followed_description">
                                Une série où il y a du sang
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="returned_serie col-md-6">
                    <div class="row">
                        <div class="col-md-4 serie_search_pic">
                            <img src="../app/img/Mi3x5.jpg">
                        </div>
                        
                        <div class="col-md-4 serie_info_followed">
                            <div class="row serie_followed_title">
                                <a href="serie.html">Dexter</a>
                            </div>
                            <div class="row serie_followed_tags">
                                Drame, Violent, Thriller
                            </div>
                            <div class="row serie_followed_status">
                                En cours : S03E02
                            </div>
                            
                            <div class="row serie_followed_description">
                                Une série où il y a du sang
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="returned_serie col-md-6">
                    <div class="row">
                        <div class="col-md-4 serie_search_pic">
                            <img src="../app/img/Mi3x5.jpg">
                        </div>
                        
                        <div class="col-md-4 serie_info_followed">
                            <div class="row serie_followed_title">
                                <a href="serie.html">Dexter</a>
                            </div>
                            <div class="row serie_followed_tags">
                                Drame, Violent, Thriller
                            </div>
                            <div class="row serie_followed_status">
                                En cours : S03E02
                            </div>
                            
                            <div class="row serie_followed_description">
                                Une série où il y a du sang
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="returned_serie col-md-6">
                    <div class="row">
                        <div class="col-md-4 serie_search_pic">
                            <img src="../app/img/Mi3x5.jpg">
                        </div>
                        
                        <div class="col-md-4 serie_info_followed">
                            <div class="row serie_followed_title">
                                <a href="serie.html">Dexter</a>
                            </div>
                            <div class="row serie_followed_tags">
                                Drame, Violent, Thriller
                            </div>
                            <div class="row serie_followed_status">
                                En cours : S03E02
                            </div>
                            
                            <div class="row serie_followed_description">
                                Une série où il y a du sang
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="returned_serie col-md-6">
                    <div class="row">
                        <div class="col-md-4 serie_search_pic">
                            <img src="../app/img/Mi3x5.jpg">
                        </div>
                        
                        <div class="col-md-4 serie_info_followed">
                            <div class="row serie_followed_title">
                                <a href="serie.html">Dexter</a>
                            </div>
                            <div class="row serie_followed_tags">
                                Drame, Violent, Thriller
                            </div>
                            <div class="row serie_followed_status">
                                En cours : S03E02
                            </div>
                            
                            <div class="row serie_followed_description">
                                Une série où il y a du sang
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="returned_serie col-md-6">
                    <div class="row">
                        <div class="col-md-4 serie_search_pic">
                            <img src="../app/img/Mi3x5.jpg">
                        </div>
                        
                        <div class="col-md-4 serie_info_followed">
                            <div class="row serie_followed_title">
                                <a href="serie.html">Dexter</a>
                            </div>
                            <div class="row serie_followed_tags">
                                Drame, Violent, Thriller
                            </div>
                            <div class="row serie_followed_status">
                                En cours : S03E02
                            </div>
                            
                            <div class="row serie_followed_description">
                                Une série où il y a du sang
                            </div>
                        </div>
                    </div>
                </div>
            -->
                
                
            </div>

        </div>
</div>