<div class="container-fluid">
    <div class="header container">
        <div class="row">
            <div class="col-md-6">
                <h2> Fiche Episode </h2>
            </div>
            <div class="col-md-2 col-md-offset-2">
                <a href="index.html"><button class="btn btn-default">Tableau de bord</button></a>
            </div>
            <div class="Account col-md-2">
                <img class="AvatarIcon" src="../app/img/Mi3x5.jpg"><a href="account.html"><button class="btn btn-default">Mon compte</button></a>
            </div>
        </div>

    </div>
    <div class="content container">
        

    </div>


</div>