<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Cuddly-Bassoon</title>
        <meta name="Main" content="Dashboard">
        <link rel="stylesheet" href="../css/app.css">
        
    </head>

    <body>
        <div class="header container">
            <div class="row">
                <div class="col-md-6">
                    <h2> Calendrier </h2>
                    <br/>
                </div>
                <div class="col-md-2 col-md-offset-2">
                    <a href="index.html"><button class="btn btn-default">Tableau de bord</button></a>

                </div>
                <div class="Account col-md-2">
                    <img class="AvatarIcon" src="../resources/images/Mi3x5.jpg"><a href="account.html"><button class="btn btn-default">Mon compte</button></a>
                </div>
            </div>

        </div>
        
        <div class="content container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row serie_content">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 cal-month-title">
                                    <h3>
                                        Janvier
                                    </h3>
                                </div>
                                <div class="col-md-12 cal-month-content">
                                    <div class="row darkened">
                                        <div class="col-md-12 passed">
                                            06 - Breaking Bad S02E03 
                                        </div>
                                        <div class="col-md-12">
                                            06 - Breaking Bad S02E03 
                                        </div>
                                        <div class="col-md-12 last_episode">
                                            06 - Breaking Bad S02E03 
                                        </div>
                                        <div class="col-md-12 passed">
                                            06 - Breaking Bad S02E03 
                                        </div>
                                        <div class="col-md-12">
                                            13 - Breaking Bad S02E04
                                        </div>
                                        <div class="col-md-12 last_episode">
                                            17 - The Walking Dead S04E02 
                                        </div><div class="col-md-12 passed">
                                            06 - Breaking Bad S02E03 
                                        </div>
                                        <div class="col-md-12">
                                            13 - Breaking Bad S02E04
                                        </div>
                                        <div class="col-md-12 last_episode">
                                            17 - The Walking Dead S04E02 
                                        </div>
                                        <div class="col-md-12">
                                            06 - Breaking Bad S02E03 
                                        </div>
                                        <div class="col-md-12">
                                            06 - Breaking Bad S02E03 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 cal-month-title">
                                    <h3>
                                        Février
                                    </h3>
                                </div>
                                <div class="col-md-12 cal-month-content">
                                    <div class="row darkened">
                                        <div class="col-md-12 passed">
                                            06 - Breaking Bad S02E03 
                                        </div>
                                        <div class="col-md-12">
                                            06 - Breaking Bad S02E03 
                                        </div>
                                        <div class="col-md-12 last_episode">
                                            06 - Breaking Bad S02E03 
                                        </div>
                                        <div class="col-md-12 last_episode">
                                            06 - Breaking Bad S02E03 
                                        </div>
                                        <div class="col-md-12">
                                            06 - Breaking Bad S02E03 
                                        </div>
                                        <div class="col-md-12 passed">
                                            06 - Breaking Bad S02E03 
                                        </div>
                                        <div class="col-md-12">
                                            13 - Breaking Bad S02E04
                                        </div>
                                        <div class="col-md-12 last_episode">
                                            17 - The Walking Dead S04E02 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 cal-month-title">
                                    <h3>
                                        Mars
                                    </h3>
                                </div>
                                <div class="col-md-12 cal-month-content">
                                    <div class="row darkened">
                                        <div class="col-md-12 passed">
                                            06 - Breaking Bad S02E03 
                                        </div>
                                        <div class="col-md-12">
                                            13 - Breaking Bad S02E04
                                        </div>
                                        <div class="col-md-12 last_episode">
                                            17 - The Walking Dead S04E02 
                                        </div>
                                        <div class="col-md-12 last_episode">
                                            06 - Breaking Bad S02E03 
                                        </div>
                                        <div class="col-md-12">
                                            06 - Breaking Bad S02E03 
                                        </div>
                                        <div class="col-md-12 first_episode">
                                            06 - Breaking Bad S02E03 
                                        </div>
                                        <div class="col-md-12">
                                            06 - Breaking Bad S02E03 
                                        </div>
                                        <div class="col-md-12">
                                            06 - Breaking Bad S02E03 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4 alert_manager_link">
                                    <br/>
                                    <a href="account.html"><button class="btn btn-warning btn-block">Gérer mes alertes</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
    




    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
</html>