@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

@font-face {
    font-family: "Caviar Dreams";
    src: url(../fonts/CaviarDreams.ttf) format("truetype");
}

::-webkit-scrollbar { 
    display: none; 
}

body {
	font-family: "Caviar Dreams", Verdana, Tahoma;
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;
    color: #bdbdbd;
}

a , a:visited, a:active, a:focus{
    color: #bdbdbd;
    text-decoration: none;
}

a:hover {
    color: #808080;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

h1 {

}

h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

h3 {
    text-align: center;
}


.row {
	margin-left: 0px;
	margin-right: 0px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.AvatarIcon {
    height : 40px;
    border-radius: 4px;
}
@media (max-width: 991px) {
    .AvatarIcon{ 
        margin-bottom: 5px;
    }
}
.account-navbar > h4 {
    display : inline;
    vertical-align: middle;
}
.account-navbar:hover{
    text-decoration: none;
}

.header {
    line-height:40px;
}

.serie_eps, .serie_info {
    position: relative;
    min-height: 400px;
}

.bottom-buttons {
    position: absolute;
    bottom: 0;

}


.darkened{
    border-radius: 3px;
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.35);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.scrollable {
    max-height: 900px;
    padding-left: 5%;
    padding-right: 5%;
    overflow-y: scroll;
}
/* Series page */ 
.serie_name {
    margin-bottom: -10px;
}

.serie_pic > img{
max-width: 100%;
}

.research_content{
    margin-top:10px;
}
.no-results{
    width: 100%;
    height: 100%;
    text-align: center;
}
.no-results > div {
    width :100%;
}
.no-results > div > div{
    margin-top:100px;
}
.episode_content{
    min-height: 300px;
    margin-top:15px;
}
.episode_name{
    margin-top: 30px;
}
.episode_name > div > .row > .col-md-1 {
    padding:0px;
    text-align: center;
}
.episode_title {
    text-align: left;
}
.episode_scroll{
    position : absolute;
    height:100%;
    width:100%;
}

.episode_preview > img{
max-height: 100%;
max-width: 70%;
}

.next_releases > .row{
    width: 100%;
}

/* Research */

.serie_search_pic > a > img{
max-width: 100%;
}

.serie_search_title, .serie_followed_title {
    font-size: 1.5em;
    padding-bottom: 10px;
}

.serie_followed_tags, .serie_followed_status{
    margin-bottom: 10px;
}

.serie_search_description {
    padding-top: 10px;
}

.research_content{
min-height:400px;
overflow-y: scroll;
}

.tracked{
display:none;
}

.returned_serie {
    padding: 4px;
    min-height: 250px;

}


/* Calender */

.cal-month-title {


}


.cal-month-content {
    line-height: 25px;


}

.alert_manager_link {
    text-align: center;

}

/* Episode */


/*Paramètre pour les notations*/
/*Général*/
.stars, .empty_stars > img , .filled_stars > img {
    width: 100px;
    height : 20px;
    box-sizing: border-box;
    position: absolute;
}
.stars {    
    position : relative;
    display: inline-block;
}

.fa-star, .fa-star-half-o, .fa-star-o{
    color: #FAB23A;
}

.empty_stars, .filled_stars {   
    position: absolute;
    box-sizing: border-box;
    width:inherit;
    height:inherit; 
}

/*Pour regler sur les différentes pages*/
.serie_search_grade > .stars, .serie_search_grade > .stars > div > img {
    width: 70px;
    height : 14px;
}
.serie_search_grade > .stars > div > img{
    position:absolute;
}
/*General*/
.stars > img {
    position: absolute;
    box-sizing: border-box;
    width: 100%
}

.empty_stars {
    z-index: 0;
}

.filled_stars {
    z-index: 1;
    overflow-x: hidden;
    overflow-y: visible;
    width: 90%;
}



.released-episode > a > img , .followed-serie > a > img , .recommanded-serie > a > img {
    max-width:100%;
    max-height:200px;
}
.released-episode, .followed-serie{
    text-align: center;
}
.followed-serie{
    margin-bottom: 20px;
}
.next-followed{
    text-align: center;
    height:20px;
}
/*Signup page */

.avatar-choice > div > span > h3 {
    text-align: inherit;
    display: inline;
}
.avatar-choice > div > img {
    width: 40%;
    border-radius: 3px;
}
.avatar-choice > div > h4{
    margin-bottom: 0px;
    margin-top: 20px;
}
.avatar-choice {
    text-align: center;
    margin-bottom: 15px;
}
.pseudo-input > div > input {
    width:100%;
    margin-top: 10px;
}
.welcome{
    text-align : center;
}
.welcome > img{
    width: 20%;
    min-width: 200px;
    margin-top: -40px;
}

.passed ,.passed > a {
    color: #676767;
}
.passed > a:hover{
    color:#535252;
}
.last_episode ,.last_episode > a{
    color: lightcoral;
}
.first_episode , .first_episode > a{
    color:#6cb26c;
}
.Followed > div {
    padding: 0px;
}

.released-episode {
    text-align: center;
}

.recommanded-serie {
    padding: 0px 3px 10px 3px;
}
.recommanded-serie > a >img {
    vertical-align: middle;
}

.first_episode > a:hover{
    color:#225722;
}

.last_episode > a:hover{
    color:#a75858;
}



.navbar-nav{
    margin-top: 3px;  
}
.logo {
    height: 50px;
}
.divLogo {
    margin-top: 2px;
    display: block;
}
.navbar-inverse .navbar-brand{
    color: #DC2987;
}
.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-form > div >a:hover {
    color: #DC2987;
}
a:hover > .navbar-brand {
    color:#FFF;
}
.navbar{
    margin-bottom: 15px
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.empty_account_welcome{
    text-align: center;
    margin-top:80px;
}


