@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

.AvatarIcon {
max-width:20%;
}

.header{
line-height:70px;

}

.serie_pic > img{
max-width: 100%;
}

.serie_content, .episode_content, .research_content{
background: #c6c6c6;
    
}

.episode_content{
min-height: 300px;
}


.episode_preview > img{
max-height: 100%;
max-width: 70%;
}

.serie_search_pic > img{
max-width: 100%;
}

.research_content{
height:400px;
overflow-y: scroll;
}