<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Cuddly-Bassoon</title>
        <meta name="Main" content="Dashboard">
        <link rel="stylesheet" href="../resources/styles/style.css">
        
    </head>

    <body>
        <div class="header container">
            <div class="row">
                <div class="col-md-6">
                    Prochaines sorties
                </div>
                <div class="col-md-2 col-md-offset-2">
                    <a href="index.html"><button class="btn btn-default">Tableau de bord</button></a>

                </div>
                <div class="Account col-md-2">
                    <img class="AvatarIcon" src="../resources/images/Mi3x5.jpg"><a href="account.html"><button class="btn btn-default">Mon compte</button></a>
                </div>
            </div>

        </div>
        
        <div class="content container">
            <div class="row serie_content">
                <div class="serie_pic col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            Janvier
                        </div>
                        <div class="col-md-12 release_month">
                            <div class="row">
                                <div class="col-md-12 passed">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12 passed">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12 passed">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12 last_episode">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12 last_episode">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12 first_episode">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12">
                                    06 - Breaking Bad S02E03 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="serie_pic col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            Fevrier
                        </div>
                        <div class="col-md-12 release_month">
                            <div class="row">
                                <div class="col-md-12 passed">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12 passed">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12 ">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12 ">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12 last_episode">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12 ">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12">
                                    06 - Breaking Bad S02E03 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="serie_pic col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            Mars
                        </div>
                        <div class="col-md-12 release_month">
                            <div class="row">
                                <div class="col-md-12 passed">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12 passed">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12 passed">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12 last_episode">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12 last_episode">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12 first_episode">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12 first_episode">
                                    06 - Breaking Bad S02E03 
                                </div>
                                <div class="col-md-12 first_episode">
                                    06 - Breaking Bad S02E03 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3 alert_manager_link">
                    <a href="account.html"><button class="btn btn-default">Gèrer mes alertes</button></a>
                </div>
            </div>
        </div>
        
    </body>
    




    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
</html>