<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Cuddly-Bassoon</title>
        <meta name="Main" content="Dashboard">
        <link rel="stylesheet" href="../resources/styles/style.css">
        
    </head>

    <body>
        <div class="header container">
            <div class="row">
                <div class="col-md-6">
                    <h2> Fiche Episode </h2>
                </div>
                <div class="col-md-2 col-md-offset-2">
                    <a href="home.html"><button class="btn btn-default">Tableau de bord</button></a>
                </div>
                <div class="Account col-md-2">
                    <img class="AvatarIcon" src="../resources/images/Mi3x5.jpg"><a href="account.html"><button class="btn btn-default">Mon compte</button></a>
                </div>
            </div>

        </div>
        
        <div class="content container">
            <div class="row serie_name">
                <div class="col-md-12">
                    <h1> Breaking Bad </h1>
                </div>
            </div>
            <div class="row episode_name">
                <div class="col-md-12">
                    <h2> <a href=""> &lt </a> S02E01 - Seven Thirty Seven <a href=""> &gt </a> </h2>
                    <br/>
                </div>
            </div>
            <div class="row category_content">
                <div class="episode_info col-md-7">
                    <div class="row">
                        <div class="col-md-12 episode_description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            <br/><br/>
                        </div>
                        <div class="col-md-12 episode_grade">
                            Note : 
                            <div class="stars">
                                    <div class="empty_stars">
                                        <img src='../resources/images/empty_stars.png' > 
                                    </div>
                                    <div class="filled_stars">
                                        <img src='../resources/images/filled_stars.png' > 
                                    </div>
                            </div>
                            4.5/5 
                            <br/><br/>
                        </div>
                        <div class="col-md-12 episode_release">
                            Date de sortie : 8 mars 2009
                        </div>
                    </div>
                </div>
                <div class="episode_preview col-md-5">
                    <img src="../resources/images/Mi3x5.jpg">
                </div>
            </div>
        </div>
        
    </body>
    




    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
</html>