<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Cuddly-Bassoon</title>
        <meta name="Main" content="Dashboard">
        <link rel="stylesheet" href="../resources/styles/style.css">
        
    </head>

    <body>
        <div class="header container">
            <div class="row">
                <div class="col-md-6">
                    Cuddly-Bassoon - Tableau de bord
                </div>
                <div class="Account col-md-2">
                    <img class="AvatarIcon" src="../resources/images/Mi3x5.jpg"><a href="account.html"><button class="btn btn-default">Mon compte</button></a>
                </div>
                <div class="col-md-2">
                    <a href="recommandation.html"><button class="btn btn-primary">Guide des séries</button></a>
                </div>
                <div class="col-md-2">
                    <input type="text" onchange="search_serie()" placeholder="Recherche">
                </div>
                
            </div>

        </div>
        
        <div class="dashboard container">
            <div class="row row-eq-height">
                <div class="Left-Block col-md-7">
                    <h4>Dernières sorties</h4>
                    <div class="Released row">
                        <div class="released-episode col-md-2 first-episode">
                            <a href="episode.html"><img src='../resources/images/Mi3x5.jpg'>
                            S02E03</a>
                        </div>
                        <div class="released-episode col-md-2">
                            <a href="episode.html"><img src='../resources/images/Mi3x5.jpg'>
                            S02E03</a>
                        </div>
                        <div class="released-episode col-md-2 ">
                            <a href="episode.html"><img src='../resources/images/Mi3x5.jpg'>
                            S02E03</a>
                        </div>
                        <div class="released-episode col-md-2 last-episode">
                            <a href="episode.html"><img src='../resources/images/Mi3x5.jpg'>
                            S02E03</a>
                        </div>
                        <div class="released-episode col-md-2">
                            <a href="episode.html"><img src='../resources/images/Mi3x5.jpg'>
                            S02E03</a>
                        </div>
                        <div class="released-episode col-md-2 first-episode">
                            <a href="episode.html"><img src='../resources/images/Mi3x5.jpg'>
                            S02E03</a>
                        </div>
                    </div>

                    <h4>Séries suivies</h4>
                    <div class="Followed row">
                        <div class="col-md-11">
                            <div class="row">
                                <div class="followed-serie col-md-3">
                                    <a href="serie.html"><img src='../resources/images/Mi3x5.jpg'></a>
                                </div>
                                <div class="followed-serie col-md-3">
                                    <a href="serie.html"><img src='../resources/images/Mi3x5.jpg'></a>
                                </div>
                                <div class="followed-serie col-md-3">
                                    <a href="serie.html"><img src='../resources/images/Mi3x5.jpg'></a>
                                </div>
                                <div class="followed-serie col-md-3">
                                    <a href="serie.html"><img src='../resources/images/Mi3x5.jpg'></a>
                                </div>
                                
                            </div>
                        </div>
                        
                        <a href="followed_series.html" class="next-followed darkened col-md-1">
                           +10
                        </a>
                    </div>
                </div>
                <div class="Right-Block col-md-5">
                    <h4>Recommandées</h4>
                    <div class="Recommanded row">
                        <div class="row">
                            <div class="recommanded-serie col-md-4">
                                <a href="serie.html"><img src='../resources/images/Mi3x5.jpg'></a>
                            </div>
                            <div class="recommanded-serie col-md-4">
                                <a href="serie.html"><img src='../resources/images/Mi3x5.jpg'></a>
                            </div>
                            <div class="recommanded-serie col-md-4">
                                <a href="serie.html"><img src='../resources/images/Mi3x5.jpg'></a>
                            </div>
                            <div class="recommanded-serie col-md-4">
                                <a href="serie.html"><img src='../resources/images/Mi3x5.jpg'></a>
                            </div>
                            <div class="recommanded-serie col-md-4">
                                <a href="serie.html"><img src='../resources/images/Mi3x5.jpg'></a>
                            </div>
                            <div class="recommanded-serie col-md-4">
                                <a href="serie.html"><img src='../resources/images/Mi3x5.jpg'></a>
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        



    </body>
    




    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
</html>