<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Cuddly-Bassoon</title>
        <meta name="Main" content="Dashboard">
        <link rel="stylesheet" href="../resources/styles/style.css">
        
    </head>

    <body>
        <div class="header container">
            <div class="row">
                <div class="col-md-6">
                    Title
                </div>
                <div class="Account col-md-2">
                    <img class="AvatarIcon" src="../resources/images/Mi3x5.jpg"><a href="account.html"><button class="btn btn-default">Mon compte</button></a>
                </div>
                <div class="col-md-2">
                    <a href="guide.html"><button class="btn btn-primary">Guide des séries</button></a>
                </div>
                <div class="col-md-2">
                    <input type="text" onchange="search_serie()" placeholder="Recherche">
                </div>
                
            </div>

        </div>
        
        



    </body>
    




    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
</html>